<h2 class="ui center aligned medium icon header">
       
            <i class="circular inverted grey comments icon"></i>
       
        Shush...
      </h2>
      <h6 class="ui center aligned medium icon header">In Case of Emergency Send "<i>.wipe</i>" and refresh the page</h6>


<div class="ui two column grid">
    <div class="sixteen wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id= "messages">
                <div class="ui feed" id= "message-container">
                <%= render @messages %>
                </div>
            </div>
            
            <div class="extra content">
                <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <%= f.text_field :body %>
                            <%= f.button '<i class=" grey arrow up icon"></i>'.html_safe %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>